body {
  background: url(horizon.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width:100%;
  height:100vh;
}

.diamondtext{
  transform:rotate(-45deg) ;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.diamond {
  position: absolute;
  display: table;
	height: 340px;
	width: 340px;
	transition: .3s all ease-in-out;
	background: #fff;
	border: 3px solid #fff;
	top: 50%;
	left: 50%;
	transform: rotate(45deg) translate(-50%, -50%);
	transform-origin: top left;
  
	}
	
  .leftdiamond {
    position: absolute;
    display: table;
    height: 240px;
    width: 240px;
    transition: .3s all ease-in-out;
    background: #fff;
    border: 3px solid #fff;
    top: 50%;
    left: 25%;
    transform: rotate(45deg) translate(-50%, -50%);
    transform-origin: top left;
    text-align: center;
    }

    .rightdiamond {
      position: absolute;
      display: table;
      height: 240px;
      width: 240px;
      transition: .3s all ease-in-out;
      background: #fff;
      border: 3px solid #fff;
      top: 50%;
      left: 75%;
      transform: rotate(45deg) translate(-50%, -50%);
      transform-origin: top left;
      text-align: center;
      }


footer,
header {
  border: 1px solid rgb(5, 5, 5);
  padding: 0em;
  Height: 50px;
  text-align: center;
}

footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  text-align: center;
}

  
#portfoliolink ul{
  margin: 0 auto;
  width: 100px;
}

.nav ul {
 position: absolute;
display: none;
list-style-type: none;
background: rgba(255, 255, 255, 0.5);
border-radius: 1em;
-webkit-padding-start: 0;
}


.nav ul li:hover {
  background: rgba(255,255,255,1);
 }

 .nav ul li {
  padding:0px;
  margin: 0;
 }

.nav {
  width: 1%;
  list-style: none;
  margin-left: 0;
  margin-bottom: 0;
  padding-left: 0;
}


.inline-items {
  margin-top: 0;
}

.inline-items>li {
  display: inline-block;
  width: 1%;
  margin-left: 0;
  border-left: 1px solid black;
  padding-left: 0;
  padding-right: 0;
  transition: transform 3s;
}

.inline-items>li:first-child {
  margin-left: 0;
  border: none;
  padding-left: 0;
  padding-right: 10px;
}

.inline-items>li:last-child {
  padding-right: 0;
}

.fadein {
  transition: opacity 4.0s ease;
  opacity: 1.0;
}

.nav.slidein {
  transition: width 2.0s ease;
  width: 100%;
}

.inline-items>li.grow {
  transition: all 3.0s ease;
  padding-left: 10px;
  padding-right: 10px;
  width: 15%;
}

/* MEDIA QUERIES */

@media screen and (min-width: 47.5em) {
  .leftColumn {
    margin-right: 19.5em;
  }
  .rightColumn {
    position: absolute;
    top: 0;
    right: 0;
    width: 18.75em;
  }
}