:root {
    --base: #f168cf;
    --spacing:10px;
    --blur:10px;
  }
  img{
    padding:var(--spacing);
    background: var(--base);
    filter: blur(var(--blur));
  
  
  }
  .h1{
    color:var(--base);
  
  }

  :focus { outline: none; }
  button {
 cursor: pointer;

      height:50px;

      height: 39px;
      border-radius: 50%;
      padding: 0.5em 1em;
      border: thin solid grey;
  }
 button:hover {
   background-color: beige;
 } 
      /*
        misc styles, nothing to do with CSS variables
      */
  
      body {
        text-align: center;
        background: #fdfdfd;
        color: rgb(63, 37, 179);
        font-family: 'helvetica neue', sans-serif;
        font-weight: 100;
        font-size: 50px;
      }
  
      .controls {
        margin-bottom: 50px;
      }
  
      input {
        width:100px;
      }