*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  height: 100%;
  overflow: auto;
  font-family: 'Goudy+Bookletter+1911';
}

#water {
  background: url(../img/water.png) 50% 0 no-repeat fixed / cover;
}

#Drum {
  background: url(../img/drum.jpg) 50% 0 no-repeat fixed / cover;
}

#desert {
  background: url(../img/mo2.PNG) 50% 0 no-repeat fixed / cover;
}

#Blurred {
  background: url(../img/me2.PNG) 50% 0 no-repeat fixed / cover;
}

.shadow-it {
  vertical-align: middle;
  box-shadow: 1px 0px 2px 3px #fff;
}

.big-picture {
  width: 100%;
  color: #fff;
  height: 100vh;
  margin: 0;
}

.box:before {
  content: "";
  width: 100%;
  height: 100%;
  top: -2px;
  right: -2px;
  border: 1px solid white;
  position: absolute;
}
.box:after {
  content: "";
  width: 100%;
  height: 100%;
  top: 2px;
  right: 2px;
  border: 1px solid yellow;
  position: absolute;
}

#floating-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  background: palevioletred;
  text-align: center;
  height: 40px;
  width: 100%;
  position: absolute;
  bottom: 5px;
  z-index: 999;
}

#floating-menu .floating-menu-item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
  border-radius: 10%;
  height: 30px;
  width: 20%;
  color: white;
  position: relative;
}

#floating-menu .popup-content {
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  border-radius: 50%;
  height: 300px;
  width: 300px;
  top: -300px;
  background-color: yellow;
  color: blue;
}

#floating-menu .blurprojecticon:hover #blur {
  display: flex;
}

#floating-menu .anotherprojecticon:hover #another {
  display: flex;
}

#clock {
  height: 40rem;
  width: 40rem;
  position: absolute;
  border-radius: 50%;
  background: url(../img/camel.PNG);
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
  top: 25%;
  left:26%;
}

.sample1 {
  height: 50px;
  width: 350px;
  background: pink;
}

.sample2 {
  height: 50px;
  width: 350px;
  background: yellow;
}

html {
	touch-action: none;
	content-zooming: none;
	margin:0;
	padding:0;
}
#logo {
  position: absolute;
  right: 2%;
  top: 2%;
  z-index:999999;
  transition: all 2.0s;
  transition-delay: 0.2s;
}
#screen {
	position:absolute;
	width: 100%;
	height: 100%;
	-webkit-perspective:500px;
	perspective:500px;
	-webkit-perspective-origin:50% 50%;
	perspective-origin:50% 50%;
	cursor: default;
}

#live {
	position:absolute;
	width:640px;
	height:50px;
	left:50%;
	top:50%;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
}
#live span {
	position: absolute;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	font-family: 'Slackey', cursive;
	font-size: 50px;
	top: -60px;
}
#k {left:0%}
#a {left:6.25%}
#l {left:12.5%}
#l2 {left:18.75%}
#i {left:25%}
#h {left:31.25%}
#o {left:37.5%}
#o2 {left:43.75%}
#p {left:50%}
#e {left:56.25%}
#r {left:62.5%}
#dot {left:68.75%}
#c {left:75%}
#o3 {left:81.25%}
#m {left:87.5%}