html {
  background: url(mo2.png);
  background-size: cover;
  background-position: center;
  font-family: 'helvetica neue';
  text-align: center;
  font-size: 16px;
}

body {
  min-height: 100vh;
  align-items: center;
}

.clock {
  background: #018DED url(camel.png);
  background-size: cover;
  background-position: center;
  width: 30rem;
  height: 30rem;
  border: 20px solid black;
  border-radius: 50%;
  margin: 50px auto;
  position: relative;
  padding: 4rem;
  box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.1), inset 0 0 0 3px #EFEFEF, inset 0 0 10px black, 0 0 10px rgba(0, 0, 0, 0.2);
}

.clock-face {
  position: relative;
  width: 100%;
  height: 100%;
  transform: translateY(-3px);
  /* account for the height of the clock hands */
}

.hour-hand {
  width: 20%;
  height: 6px;
  background: blue;
  position: absolute;
  top: 50%;
  border: 2px solid black;
  background: linear-gradient(to right, red, orange);
  margin-left: 30%;
  transform-origin: 100%;
  transform: rotate(90deg);
  transition: all 0.02s;
  transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
}

.hour-hand::after {
  content: ' ';
  height: 0px;
  position: absolute;
  width: 0px;
  border: 7px solid transparent;
  /* arrow size */
  border-right-color: black;
  /* arrow color */
  position: absolute;
  top: -4px;
  left: -20px;
}

.min-hand {
  width: 50%;
  height: 6px;
  background: linear-gradient(to right, purple, blue);
  /* background :purple; */
  border: 2px solid black;
  position: absolute;
  top: 50%;
  transform-origin: 100%;
  transform: rotate(90deg);
  transition: all 0.02s;
  transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
}

.min-hand::after {
  content: ' ';
  height: 0px;
  position: absolute;
  width: 0px;
  border: 7px solid transparent;
  /* arrow size */
  border-right-color: black;
  /* arrow color */
  position: absolute;
  top: -4px;
  left: -20px;
}

.second-hand {
  width: 57%;
  height: 6px;
  background: green;
  position: absolute;
  border: 2px solid black;
  background: linear-gradient(to right, green, yellow);
  top: 50%;
  right: 50%;
  transform-origin: 100%;
  transform: rotate(90deg);
  transition: all 0.02s;
  transition-timing-function: cubic-bezier(0.1, 1.7, 0.58, 1);
}

.second-hand::after {
  content: ' ';
  height: 0px;
  position: absolute;
  width: 0px;
  border: 7px solid transparent;
  /* arrow size */
  border-right-color: black;
  /* arrow color */
  position: absolute;
  top: -4px;
  left: -20px;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
}

.columnsContainer,
footer,
header {
  position: relative;
  margin: auto;
  height: 40px;
}

header,
footer {
  background-color: white;
  opacity: 0.0;  
  overflow: hidden;
}

.leftColumn,
.rightColumn,
footer,
header {
  border: 1px solid #ccc;
  padding: .25em;
}

footer {
  width: 100%;
  position: fixed;
  bottom: 0;
}

.leftColumn {
  margin-bottom: .5em;
}

.nav {
  width: 1%;
  list-style: none;
  margin-left: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.nav>li,
.nav>li>a {
  display: inline-block;
  *display: inline;
  zoom: 1;
}

.inline-items {
  margin-top: 0;
}

.inline-items li {
  display: inline-block;
  width: 1%;
  margin-left: 0;
  border-left: 1px solid black;
  padding-left: 0;
  padding-right: 0;
  transition: transform 3s;
}

.inline-items li:first-child {
  margin-left: 0;
  border: none;
  padding-left: 0;
  padding-right: 10px;
}

.inline-items li:last-child {
  padding-right: 0;
}

.fadein {
  transition: opacity 4.0s ease;
  opacity: 1.0;
}

.nav.slidein {
  transition: width 2.0s ease;
  width: 100%;
}

.inline-items li.grow {
  transition: all 3.0s ease;
  padding-left: 10px;
  padding-right: 10px;
  width: 20%;
}

/* MEDIA QUERIES */

@media screen and (min-width: 47.5em) {
  .leftColumn {
    margin-right: 19.5em;
  }
  .rightColumn {
    position: absolute;
    top: 0;
    right: 0;
    width: 18.75em;
  }
}

