*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
}

h1 {
  font-family: "Arvo";
  font-weight: normal;
  font-size: 55px;
  text-align: center;
  color: #fff;
  margin: 0;
  padding: 0;
}

h2 {
  font-family: "Arvo";
  font-weight: normal;
  font-size: 40px;
  text-align: center;
  color: #fff;
  margin: 0;
  padding: 0;
}

h3 {
  font-family: Oswald;
  font-weight: normal;
  font-size: 16px;
  text-align: center;
  margin: 5px 0;
  padding: 0;
  z-index: 1;
  position: relative;
}

.center {
  margin: 0 auto;
}

.content {
  margin: 0 auto;
  width: 960px;
}

.clear {
  clear: both;
}

#header {
  width: 100%;
  background: url('../img/header-bg.png');
  height: 80px;
  position: fixed;
  margin-top: 30px;
}

#nav {
  width: 410px;
  float: right;
  margin-top: 20px;
}

#logo a {
  color: #fff;
  text-decoration: none;
  float: left;
  font-size: 30px;
  margin-top: 20px;
  color: #fff;
  font-family: "Wellfleet";
  font-weight: bold;
}

#nav ul {
  list-style: none;
  display: block;
  margin: 0 auto;
  list-style: none;
}

#nav li {
  margin-top: 9px;
  float: left;
  padding-left: 21px;
}

#nav li a {
  color: #fff;
  opacity: 0.6;
  font-size: 16px;
  text-decoration: none;
  font-family: 'Wellfleet';
}

#nav li a.active {
  color: #fff;
  opacity: 1;
  border-bottom: 2px solid #fff;
}

#nav li a:hover {
  color: #fff;
  opacity: 1;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
}

h1 {
  font-family: "Arvo";
  font-weight: normal;
  font-size: 55px;
  text-align: center;
  color: #fff;
  margin: 0;
  padding: 0;
}

h2 {
  font-family: "Arvo";
  font-weight: normal;
  font-size: 40px;
  text-align: center;
  color: #fff;
  margin: 0;
  padding: 0;
}

h3 {
  font-family: Oswald;
  font-weight: normal;
  font-size: 16px;
  text-align: center;
  margin: 5px 0;
  padding: 0;
  z-index: 1;
  position: relative;
}

.center {
  margin: 0 auto;
}

.content {
  margin: 0 auto;
  width: 960px;
}

.clear {
  clear: both;
}

#header {
  width: 100%;
  background: url('../img/header-bg.png');
  height: 80px;
  position: fixed;
  margin-top: 30px;
}

#nav {
  width: 410px;
  float: right;
  margin-top: 20px;
}

#logo a {
  color: #fff;
  text-decoration: none;
  float: left;
  font-size: 30px;
  margin-top: 20px;
  color: #fff;
  font-family: "Wellfleet";
  font-weight: bold;
}

#nav ul {
  list-style: none;
  display: block;
  margin: 0 auto;
  list-style: none;
}

#nav li {
  margin-top: 9px;
  float: left;
  padding-left: 21px;
}

#nav li a {
  color: #fff;
  opacity: 0.6;
  font-size: 16px;
  text-decoration: none;
  font-family: 'Wellfleet';
}

#nav li a.active {
  color: #fff;
  opacity: 1;
  border-bottom: 2px solid #fff;
}

#nav li a:hover {
  color: #fff;
  opacity: 1;
}

#slide1,
#slide2 {
  width: 100%;
}

#slide1 {
  background: url(../img/slide3.png) 50% 0 no-repeat fixed;
  color: #fff;
  height: 600px;
  margin: 0;
  padding: 200px 0 260px 0;
  background-size: cover;
}

#slide2 {
  position: relative;
  background-color: rgb(37, 172, 196);
  color: #0707078c;
  height: 100px;
  margin:  auto;
  overflow: hidden;
  

}
#slide2 .content {
  position: relative;
}
.ryu {
  position: absolute;
  top: -50px;
  height: 256px;
  width: 512px;
  background:  url(../img/sprites-cat-running.png);
  animation: sprite .3s steps(8) infinite;
}
.ryu.red {
  background:  url(../img/sprites-cat-running-red.png);
}
.ryu.blue {
  height: 325px;
  width: 184px;
  animation: sprite2 1.3s steps(8) infinite;
  background:  url(../img/capguy-walk-1472.png);
}

@keyframes sprite {
  100% {
    background-position: -4096px;
  }
 }
 @keyframes sprite2 {
  100% {
    background-position: -1472px;
  }
 }
#slide3 {
  background: url(../img/slide2.png) 50% 0 no-repeat fixed;
  color: #fff;
  height: 600px;
  padding: 800px 0 0 0;
  
  background-size: cover;
}

#slide3 .content {
  background-image: url(../img/camel.PNG);
  position: fixed;
}

#slide4 {
  background-color: #fff;
  color: #333333;
  height: 300px;
  padding: 200px 0;
}

#slide5 {
  background: url(../img/slide1.png) 50% 0 no-repeat fixed;
  height: 200px;
  margin: 0 auto;
  padding: 250px 0;
  color: #fff;
  background-size: cover;
}

#copyright {
  color: #fff;
  font-family: "Wellfleet";
  font-size: 14px;
  margin-top: 100px;
  text-align: center;
}

#copyright a {
  text-decoration: none;
  color: #fff;
}

.clock {
  background: #018DED url(camel.png);
  background-size: cover;
  background-position: center;
  width: 30rem;
  height: 30rem;
  border: 20px solid black;
  border-radius: 50%;
  margin: 50px auto;
  position: relative;
  padding: 4rem;
  box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.1), inset 0 0 0 3px #EFEFEF, inset 0 0 10px black, 0 0 10px rgba(0, 0, 0, 0.2);
}

.clock-face {
  position: relative;
  width: 100%;
  height: 100%;
  transform: translateY(-3px);
  /* account for the height of the clock hands */
}

.hour-hand {
  width: 20%;
  height: 6px;
  background: blue;
  position: absolute;
  top: 50%;
  border: 2px solid black;
  background: linear-gradient(to right, red, orange);
  margin-left: 30%;
  transform-origin: 100%;
  transform: rotate(90deg);
  transition: all 0.02s;
  transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
}

.hour-hand::after {
  content: ' ';
  height: 0px;
  position: absolute;
  width: 0px;
  border: 7px solid transparent;
  /* arrow size */
  border-right-color: black;
  /* arrow color */
  position: absolute;
  top: -4px;
  left: -20px;
}

.min-hand {
  width: 50%;
  height: 6px;
  background: linear-gradient(to right, purple, blue);
  /* background :purple; */
  border: 2px solid black;
  position: absolute;
  top: 50%;
  transform-origin: 100%;
  transform: rotate(90deg);
  transition: all 0.02s;
  transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
}

.min-hand::after {
  content: ' ';
  height: 0px;
  position: absolute;
  width: 0px;
  border: 7px solid transparent;
  /* arrow size */
  border-right-color: black;
  /* arrow color */
  position: absolute;
  top: -4px;
  left: -20px;
}

.second-hand {
  width: 57%;
  height: 6px;
  background: green;
  position: absolute;
  border: 2px solid black;
  background: linear-gradient(to right, green, yellow);
  top: 50%;
  right: 50%;
  transform-origin: 100%;
  transform: rotate(90deg);
  transition: all 0.02s;
  transition-timing-function: cubic-bezier(0.1, 1.7, 0.58, 1);
}

.second-hand::after {
  content: ' ';
  height: 0px;
  position: absolute;
  width: 0px;
  border: 7px solid transparent;
  /* arrow size */
  border-right-color: black;
  /* arrow color */
  position: absolute;
  top: -4px;
  left: -20px;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}