*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
}

h1 {
  font-family: "Arvo";
  font-weight: normal;
  font-size: 55px;
  text-align: center;
  color: #fff;
  margin: 0;
  padding: 0;
}

h2 {
  font-family: "Arvo";
  font-weight: normal;
  font-size: 40px;
  text-align: center;
  color: #fff;
  margin: 0;
  padding: 0;
}

h3 {
  font-family: Oswald;
  font-weight: normal;
  font-size: 16px;
  text-align: center;
  margin: 5px 0;
  padding: 0;
  z-index: 1;
  position: relative;
}

.center {
  margin: 0 auto;
}

.content {
  margin: 0 auto;
  width: 960px;
}

.clear {
  clear: both;
}

#header {
  width: 100%;
  background: url('../img/header-bg.png');
  height: 80px;
  position: fixed;
  margin-top: 30px;
}

#nav {
  width: 410px;
  float: right;
  margin-top: 20px;
}

#logo a {
  color: #fff;
  text-decoration: none;
  float: left;
  font-size: 30px;
  margin-top: 20px;
  color: #fff;
  font-family: "Wellfleet";
  font-weight: bold;
}

#nav ul {
  list-style: none;
  display: block;
  margin: 0 auto;
  list-style: none;
}

#nav li {
  margin-top: 9px;
  float: left;
  padding-left: 21px;
}

#nav li a {
  color: #fff;
  opacity: 0.6;
  font-size: 16px;
  text-decoration: none;
  font-family: 'Wellfleet';
}

#nav li a.active {
  color: #fff;
  opacity: 1;
  border-bottom: 2px solid #fff;
}

#nav li a:hover {
  color: #fff;
  opacity: 1;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
}

h1 {
  font-family: "Arvo";
  font-weight: normal;
  font-size: 55px;
  text-align: center;
  color: #fff;
  margin: 0;
  padding: 0;
}

h2 {
  font-family: "Arvo";
  font-weight: normal;
  font-size: 40px;
  text-align: center;
  color: #fff;
  margin: 0;
  padding: 0;
}

h3 {
  font-family: Oswald;
  font-weight: normal;
  font-size: 16px;
  text-align: center;
  margin: 5px 0;
  padding: 0;
  z-index: 1;
  position: relative;
}

.center {
  margin: 0 auto;
}

.content {
  margin: 0 auto;
  width: 960px;
}

.clear {
  clear: both;
}

#header {
  width: 100%;
  background: url('../img/header-bg.png');
  height: 80px;
  position: fixed;
  margin-top: 30px;
}

#nav {
  width: 410px;
  float: right;
  margin-top: 20px;
}

#logo a {
  color: #fff;
  text-decoration: none;
  float: left;
  font-size: 30px;
  margin-top: 20px;
  color: #fff;
  font-family: "Wellfleet";
  font-weight: bold;
}

#nav ul {
  list-style: none;
  display: block;
  margin: 0 auto;
  list-style: none;
}

#nav li {
  margin-top: 9px;
  float: left;
  padding-left: 21px;
}

#nav li a {
  color: #fff;
  opacity: 0.6;
  font-size: 16px;
  text-decoration: none;
  font-family: 'Wellfleet';
}

#nav li a.active {
  color: #fff;
  opacity: 1;
  border-bottom: 2px solid #fff;
}

#nav li a:hover {
  color: #fff;
  opacity: 1;
}

#slide1,
#slide2 {
  width: 100%;
}

#slide1 {
  background: url(../img/slide3.png) 50% 0 no-repeat fixed;
  color: #fff;
  height: 600px;
  margin: 0;
  padding: 200px 0 260px 0;
  background-size: cover;
}

#slide2 {
  position: relative;
  background-color: #fff;
  color: #333333;
  height: 300px;
  margin: 0 auto;
  overflow: hidden;
  padding: 200px 0;
  background: url('../img/grass.png');
  background-size: 100%;
}
#slide2 .content {
  position: relative;
}
.ryu {
  position: absolute;
  top: -50px;
  height: 256px;
  width: 512px;
  background:  url(../img/sprites-cat-running.png);
  animation: sprite .3s steps(8) infinite;
}
.ryu.red {
  background:  url(../img/sprites-cat-running-red.png);
}
.ryu.blue {
  height: 325px;
  width: 184px;
  animation: sprite2 1.3s steps(8) infinite;
  background:  url(../img/capguy-walk-1472.png);
}

@keyframes sprite {
  100% {
    background-position: -4096px;
  }
 }
 @keyframes sprite2 {
  100% {
    background-position: -1472px;
  }
 }
#slide3 {
  background: url(../img/slide2.png) 50% 0 no-repeat fixed;
  color: #fff;
  height: 600px;
  padding: 800px 0 0 0;
  background-size: cover;
}

#slide4 {
  background-color: #fff;
  color: #333333;
  height: 300px;
  padding: 200px 0;
}

#slide5 {
  background: url(../img/slide1.png) 50% 0 no-repeat fixed;
  height: 200px;
  margin: 0 auto;
  padding: 250px 0;
  color: #fff;
  background-size: cover;
}

#copyright {
  color: #fff;
  font-family: "Wellfleet";
  font-size: 14px;
  margin-top: 100px;
  text-align: center;
}

#copyright a {
  text-decoration: none;
  color: #fff;
}